# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/Angular8/dist
/Angular8/tmp
/Angular8/out-tsc
# Only exists if Bazel was run
/Angular8/bazel-out

# dependencies
/Angular8/node_modules

